
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/Content/HomeIndexLandingPageStyles.css" />
</head>
<body id="HomeIndexLandingPageBodyContainer">
 
 @Html.Partial("_NavBar")
  

  <div id="HomeIndexBackground">
    <img src="~/Content/Images/FrontPage.jpg" alt="Driving Down The Road Photo" />
        <div id="ImageTextOverlay" >
          <div class="jumbotron" >
          <h1 id="AreYou">Are you paying too much for auto insurance?</h1>

          <h5 id="Sadly">Sadly, the answer is probably "YES".</h5><br /><br/><br/>
          <h2 id="RightPlace">
            Well,... you've come to the right place!
          </h2>
            <p id="Favor"><br/><br/><br/>
          So, just take a moment and do yourself a favor...<br /></p>
         <p>   <span> See How Much Money You Can Save!</span>
          </p>
          <div id="FreeQuoteButton" class=" btn btn-outline-primary">
            @Html.ActionLink("GET A FREE QUOTE NOW!", "NewInsureeFormData","Insuree");
          </div>
        </div>
    </div>
  </div>
</body>
</html>
